
html {
    /* changes 1rem to 10px  (1.1rem is 11px) */
    font-size: 62.5%;
}

body {
    background-color: rgb(250, 249, 247);
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}


/* Header area */
#headergrid {
    margin: auto;
    width:100%;
    height: 7rem;
    background-color: blueviolet;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 

    "name nav"
    "hero hero";
}

.headergridarea {

    background-size: cover;

}


#name {
    grid-area:name;
    display: flex;
    align-items: center;
}


h1 {

    position: relative;
    left: 1rem;
    background-color: brown;
}

#nav {

    grid-area:nav;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    border-color: black;
    border-width: 20px;
}


#hero {

    grid-area:hero;
    width: 100%;
    margin: 0;
    background-color: blue;
    height: 15rem;
    display: flex;
    flex-direction: row-reverse;
}
    

h3 {
    height: min-content;
    position: relative;
    right: 2rem;
    top: 9rem;
    font-size: 2.2rem;
    background-color: brown;

}

