/* stlye variables used throughout */
:root{

    --offwhite:rgb(250, 249, 247);
    --orange: rgb(229, 157, 102);
    --darkorange:rgb(185, 99, 32);
    --darkgreen: rgb(0, 77, 19);
    --lightgreen:rgb(219, 255, 184);
    --radius:5px
}

html {

    /* changes 1rem to 10px  (1.1rem is 11px) */
    font-size: 62.5%;
}

body {

    background-color: var(--offwhite);
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}


/* Header area grid*/
#headergrid {
    
    width:100%;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 7.5rem 15rem;
    grid-template-areas: 

    "name nav"
    "photoarea hero";
}

@media only screen and (max-width: 768px) {/* change from grid to column tablet and phone */

#headergrid {

    display: flex;
    flex-direction: column;
    align-items: center;

}}


/* Header area - Candidate name */
#name {
    width: 100%;
    grid-area:name;
    display: flex;
    align-items: center;
    background-color: var(--darkorange);
}

@media only screen and (max-width: 768px) {/* center candidate name for tablet and phones */

#name{

    display: flex;
    flex-direction: row;
    justify-content: center;

}}


h1 {/* Header area - Candidate name styles */

    padding: 0.5rem;
    position: relative;
    background-color: var(--offwhite);
    border-radius: var(--radius);
    left: 1rem;
    font-size: 3rem;
    color: var(--darkgreen);
}

@media only screen and (max-width: 768px) {/* reduce font size tablet*/

h1 { 
    font-size: 2rem;
    padding: 0.3rem;}}

    @media only screen and (max-width: 600px) {/* reduce font size further for phones*/

h1 {
    font-size: 1rem;
    padding: 0.1rem;}
}


#nav {/* Header area - nav */

    width: 100%;
    grid-area:nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--darkorange);
}

.navlink{/* Header area - nav  styles*/

    padding: 0.5rem;
    background-color: var(--offwhite);
    border-radius: var(--radius);
    color: var(--darkgreen);
    text-decoration-line: none;
    font-weight: bold;

}

@media only screen and (max-width: 768px) {/* reduce font size tablet*/

    .navlink { 
        font-size: 2rem;
        padding: 0.3rem;}}
    
        @media only screen and (max-width: 600px) {/* reduce font size further for phones*/
    
    .navlink {
        font-size: 1rem;
        padding: 0.1rem;}
    }
    


#photoarea { /* Header area - candidate photo/avatar */
    width: 100%;
    grid-area: photoarea;
    background-color: var(--orange);

}

@media only screen and (max-width: 768px) {/* center picture for phone and tablet */

#photoarea {
    display: flex;
    justify-content: center;
}}

#photo {/* Header area - candidate photo/avatar style */

    margin-top: 0.7rem;
    margin-left: 1rem;
    width: auto;
    height: 90%;
    border-radius: var(--radius);
    border: var(--offwhite) solid 0.2rem;
}

@media only screen and (max-width: 768px) {/* reduce picture size for phone and tablet */

#photo {

    width: 10rem;
    
}}

#hero { /* Header area - subheading */

    grid-area:hero;
    width: 100%;
    background-color: var(--orange);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

@media only screen and (max-width: 768px) {/* center subhead on hero bar for tablet and phone */

#hero{

    display: flex;
    flex-direction: row;
    justify-content: center;

}}

h2 {  /* Header area - subheading styles */
    margin: 1rem;
    font-size: 2.2rem;
    background-color:var(--offwhite);
    padding: 0.5rem;
    border-radius: var(--radius);
    color: var(--darkgreen);

}

@media only screen and (max-width: 768px) {/* center subhead on hero bar for tablet and phone */

h2{
    
    font-size: 1.5rem;
    padding: 0.2rem;
}}

/* content */

#contentgrid {/* content - grid - container for candidate projects and aside */

    background-color:var(--offwhite);
    display:grid;
    grid-template-columns: 20% 40% 40%;
    grid-auto-rows: min-content;
    grid-template-areas: 

    "aside1 aboutme aboutme"
    "aside2 mainproject mainproject"
    "aside2 subproject1 subproject2"
    "aside2 subproject3 subproject4"
    ;
}

@media only screen and (max-width: 768px) {

    #contentgrid {
        display: flex;
        flex-direction: column;


}}

@media only screen and (max-width: 768px) { /* setting order of items in content using flexbox */

    #aside1 {order: 0;}
    #aside2 {order: 2;}
    #aboutme {order: 1;}
    #mainproject {order: 3;}
    #subproject1 {order: 4;}
    #subproject2 {order: 5;}
    #subproject3 {order: 6;}
    #subproject4 {order: 7;}

}

img{ /* content - project image constraints */

    width: 100%;
    height:100%;  
}


#aside1 {/* content - aside 'about me' - heading grid area */

    grid-area:aside1;
    background-color: var(--darkgreen);
    color: var(--darkgreen);
    display: flex;
    flex-direction: row-reverse;
}

#aside2 {/* content - aside 'work' - heading grid area */

    grid-area:aside2;
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: row-reverse;
}



h3 {/* content - aside - heading styles */
    margin: auto;
    padding: 0.5rem;
    padding-right: 1rem;
    font-size: 3rem;
    text-align: right;
    background-color: var(--offwhite);
    border-radius: var(--radius);
}


#aboutme { /* content - about me - grid area */

    grid-area:aboutme;
    background-color: var(--lightgreen);
}

.aboutme { /* content - about me - grid content */

        text-align: center;
        margin: 1rem;
}


.projecttitle { /* content - project titles in content grid */

    position: relative;
    top: -4rem;
    padding: 0.5rem;
    background-color: black;
    color: var(--offwhite);  
    font-size: 2rem;


}

#mainproject {/* content - main project image */
    grid-area:mainproject;
}

#subproject1 {/* content - subproject1 image */
    grid-area:subproject1;  
}

#subproject2 {/* content - subproject2 image */
    grid-area:subproject2;
}


#subproject3 {  /* content - subproject3 image */
    grid-area:subproject3;
}

#subproject4 {/* content - subproject4 image */
    grid-area:subproject4;
}



/* footer - contact information */

#footergrid {/* footer - grid area */

    width:100%;
    background-color: var(--darkorange) ;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 7.5rem;
    grid-template-areas: 

    "aside3 contact"
    ;
}

#aside3 {/* footer - contact me heading area */

    grid-area: aside3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

#contact { /* footer - contact information grid area */

    grid-area: contact;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h4 {/* footer - contact information styles */
    font-size: 1.5rem;
    color: var(--darkgreen);
    background-color: var(--offwhite);
    padding: 0.5rem;
    border-radius: var(--radius);

}