:root{
    --offwhite:rgb(250, 249, 247);
    --orange: rgb(229, 157, 102);
    --darkorange:rgb(185, 99, 32);
    --darkgreen: rgb(0, 77, 19);
    --radius:5px

}

html {
    /* changes 1rem to 10px  (1.1rem is 11px) */
    font-size: 62.5%;
}

body {
    background-color: var(--offwhite);
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

img{

width: 100%;
height:100%;

}


/* Header area */
#headergrid {
    
    width:100%;
    background-color: var(--orange);
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 7.5rem 15rem;
    grid-template-areas: 

    "name nav"
    "photoarea hero";
}


#name {
    grid-area:name;
    display: flex;
    align-items: center;
    background-color: var(--darkorange);
}


h1 {

    padding: 0.5rem;
    position: relative;
    background-color: var(--offwhite);
    border-radius: var(--radius);
    left: 1rem;
    font-size: 3rem;
    color: var(--darkgreen);
}

#nav {

    grid-area:nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--darkorange);
}

a{
    padding: 0.5rem;
    background-color: var(--offwhite);
    border-radius: var(--radius);
    color: var(--darkgreen);
    text-decoration-line: none;
    font-weight: bold;

}


#photoarea
{ 
    grid-area: photoarea;
    background-color: var(--orange);

}

#photo {
    margin-top: 0.7rem;
    margin-left: 1rem;
    width: auto;
    height: 90%;
    border-radius: var(--radius);
}


#hero {

    grid-area:hero;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

}
    

h2 {
    margin: 1rem;
    font-size: 2.2rem;
    background-color: brown;

}

/* content */

#contentgrid {

    background-color: green;
    display:grid;
    grid-template-columns: 20% 40% 40%;
    grid-auto-rows: min-content;
    grid-template-areas: 

    "aside1 aboutme aboutme"
    "aside2 mainproject mainproject"
    "aside2 subproject1 subproject2"
    "aside2 subproject3 subproject4"
    ;
}

#aside1 {

    grid-area:aside1;
    background-color: crimson;
    display: flex;
    flex-direction: row-reverse;
}

#aside2 {

    grid-area:aside2;
    background-color: rgb(90, 20, 220);
    display: flex;
    flex-direction: row-reverse;
}

h3 {

    padding-right: 1rem;
    font-size: 3rem;
    text-align: right;
    background-color: aliceblue;

}

#aboutme {

    grid-area:aboutme;
    background-color: coral;
}

.aboutme {

        text-align: center;
        margin: 1rem;
        background-color: cornsilk;
}


.projecttitle {

    position: relative;
    top: -4rem;
    padding: 0.5rem;
    background-color: black;
    color: aliceblue;  
    font-size: 2rem;


}

#mainproject {

    grid-area:mainproject;

}

#subproject1 {
    grid-area:subproject1;  
}

#subproject2 {
    grid-area:subproject2;
}


#subproject3 {   
    grid-area:subproject3;
}

#subproject4 {
    grid-area:subproject4;
}

/* footer - contact information */

#footergrid {

    width:100%;
    background-color: darkred ;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 7.5rem;
    grid-template-areas: 

    "aside3 contact"
    ;
}

.footergridarea {

    background-size: cover;
}

#aside3 {

    grid-area: aside3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

#contact {

    grid-area: contact;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h4 {

    font-size: 1.5rem;
}